<strong>Olá, {{ owner }}</strong>
<p>Foi realizada uma nova inscrição em seu meetup <strong>{{ title }}</strong>.</p>

<p>
  <strong>Novo inscrito: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
</p>
